@reference "../../../themes/index.css";

/* Stucture */
:global(button[role='switch']) {
  @apply h-max w-11 rounded-full border p-px;
}
:global(button[role='switch'] > span) {
  @apply h-5 w-5 translate-x-0 transition-transform;
}
:global(button[role='switch'][data-state='checked'] > span) {
  @apply translate-x-full;
}

/* Focus ring */
:global(button[role='switch']:focus-visible) {
  box-shadow: 0 0 0 2px rgba(5, 4, 7, 1);
}

/* =========================
  DEFAULT VARIANT
========================= */

/* Default state */
:global(button[role='switch']) {
  @apply bg-dark/20;
}
:global(button[role='switch'] > span) {
  @apply bg-light;
}

/* Checked state */
:global(button[role='switch'][data-state='checked']) {
  @apply bg-primary;
}

/* =========================
  OUTLINED VARIANT
========================= */

.wrapper {
  @apply flex cursor-pointer items-center gap-3;
}
.outlined {
  @apply border-tertiary rounded-lg border px-3 py-2 transition-colors;
}
.outlined.active {
  @apply bg-tertiary/20 border-primary/60;
}

/* =========================
  ICON VARIANT (icon as overlay)
========================= */

.iconWrapper {
  @apply border-dark/20 relative h-6 w-max overflow-hidden rounded-full border shadow-sm;
}

/* Structure */
.iconWrapper :global(button[role='switch']) {
  @apply bg-light relative w-11 shadow-none;
}
.iconWrapper :global(button[role='switch'] > span) {
  @apply shadow-none;
}

/* Icon base (same height as span thumb) */
.icon {
  @apply pointer-events-none absolute top-0 flex h-full w-6 translate-x-0 items-center justify-center rounded-full p-1 transition-transform;
}

/* Move icon together with thumb */
.iconChecked {
  @apply translate-x-5;
}
