@theme {
  /* RESET DEFAULT TAILWIND VARIABLES */
  --text-*: initial;
  --color-*: initial;
  --font-*: initial;
  --radius-*: initial;
  --shadow-*: initial;

  /* ------------------------------ */
  /* ------------------------------ */

  /* Font Family */
  --font-primary: 'MuseoModerno', Verdana, system-ui, sans-serif;
  --font-secondary: 'Zen Maru Gothic', Verdana, system-ui, sans-serif;
  --font-fallback: Verdana, system-ui, sans-serif;

  /* Sizes */
  --text-h1: clamp(1.5em, 2em, 2em); /* 24px → 32px */
  --text-h2: clamp(1.25em, 1.5em, 1.5em); /* 20px → 24px */
  --text-h3: clamp(1.125em, 1.25em, 1.25em); /* 18px → 20px */
  --text-h4: clamp(1em, 1.125em, 1.125em); /* 16px → 18px */
  --text-h5: clamp(0.875em, 1em, 1em); /* 14px → 16px */

  --text-subhead: clamp(1em, 1.125em, 1.125em); /* 16px → 18px */
  --text-md: clamp(0.875em, 1em, 1em); /* 14px → 16px */
  --text-sm: clamp(0.75em, 0.875em, 0.875em); /* 12px → 14px */
  --text-xs: clamp(0.625em, 0.6875em, 0.6875em); /* 10px → 11px */

  --text-btn-md: clamp(0.875em, 1em, 1em); /* 14px → 16px */
  --text-btn-sm: clamp(0.75em, 0.875em, 0.875em); /* 12px → 14px */

  /* Letter spacing */
  --tracking-xs: 0.02em;
  --tracking-sm: 0.04em;
  --tracking-md: 0.06em;

  /* Line heights */
  --leading-xs: 1.32;
  --leading-sm: 1.48;
  --leading-md: 1.52;
  --leading-lg: 1.62;

  /* List spacing */
  --list-spacing: 0.02em;

  /* Paragraph spacing */
  --space-p-normal: 1em; /* default for everything */
  --space-p-tight: 0.75em; /* tighter for main headline only */

  /* ------------------------------ */
  /* ------------------------------ */

  /* NEUTRALS */
  --color-light: #f3f3f3;
  --color-dark: #21201d;

  /* BRAND COLORS */
  --color-primary: #bfb075;
  --color-secondary: #e39f5e;
  --color-tertiary: #e4e0ba;

  /* SUPPORT / FEEDBACK COLORS */
  --color-info: #99b7d4;
  --color-warning: #cfa077;
  --color-danger: #d58c8c;
  --color-success: #a4e49c;

  /* ------------------------------ */
  /* ------------------------------ */

  /* GRADIENTS */
  --background-image-primary: linear-gradient(135deg, var(--color-primary), var(--color-secondary));

  /* SHAPE */
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;

  /* ELEVATION / SHADOWS  */
  --shadow-none: none;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 4px 12px rgba(0, 0, 0, 0.12);
  --shadow-lg: 0 12px 24px rgba(0, 0, 0, 0.16);
  --shadow-xl: 0 16px 32px rgba(0, 0, 0, 0.16);
}
