@reference "../../../themes/index.css";

.root {
  @apply inline-flex items-center justify-center gap-2 transition-colors focus-visible:ring-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50;
}

/* ========== VARIANTS ========== */
.fill {
  @apply border border-transparent;
}

.outline {
  @apply border bg-transparent;
}

.ghost {
  @apply border border-transparent bg-transparent;
}

/* ========== COLORS ========== */

/* Dark */
.dark.fill {
  @apply bg-dark text-light hover:bg-dark/90;
}

.dark.outline {
  @apply border-dark text-dark hover:bg-dark/5;
}

.dark.ghost {
  @apply text-dark hover:bg-dark/5;
}

/* Primary */
.primary.fill {
  @apply bg-primary text-light hover:bg-primary/90;
}

.primary.outline {
  @apply border-primary text-primary hover:bg-primary/5;
}

.primary.ghost {
  @apply text-primary hover:bg-primary/5;
}

/* Secondary */
.secondary.fill {
  @apply bg-secondary text-light hover:bg-secondary/90;
}

.secondary.outline {
  @apply border-secondary text-secondary hover:bg-secondary/5;
}

.secondary.ghost {
  @apply text-secondary hover:bg-secondary/5;
}

/* ========== SIZES ========== */
.md {
  @apply text-md font-secondary h-12 rounded-full px-6 font-black uppercase;
}

.sm {
  @apply font-primary h-10 rounded-md px-5 text-sm font-medium;
}

.icon {
  @apply h-10 w-10 rounded-md p-2;
}
