@reference "../../../themes/index.css";

.root {
  @apply flex flex-col gap-2;
}

.input {
  @apply border-dark/20 border;
}

.error {
  @apply border-danger;
}

.errorText {
  @apply text-danger text-xs;
}
